* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: maroon;
    top: 0;
    width: 100%;
    overflow: hidden;
}
.header .header-text{
   float: right;
   color: white;
   padding-top: 12px;
   font-size: 15pt;
}

.navigation{
    display: flex;
    background-color: red;
}
.navigation a{
    padding: 12px 20px;
    color: white;
    font-size: 20px;
    
}
.navigation a:hover{
    color:purple;
}

.row{
    display: flex;
    flex-wrap: flex;
}

.side {
    flex: 30%;
    background-color: white;
    padding: 30px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  /* Fake image, just for this example */
  .img {
    background-color: rgb(177, 177, 177);
    width: 330px;
    height: 200px;
    padding: 6px;
  }
  .img a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    
  }
  
  /* Parent Container */
.content_img{
    position: relative;
    width: 330px;
    height: 200px;
    float: left;
    margin-right: 10px;
    margin-bottom: 50px;
   }
.content_img h6{
       margin-top: 10px;
       margin-left: 80px;
       font-size: 12pt;
       color: #6d0707;
   }
   
   /* Child Text Container */
.content_img div{
    position: absolute;
    bottom: 80px;
    right: 100px;
    background: white;
    color: black;
    border: 1px solid black;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear; 
    transition: visibility 0s, opacity 0.5s linear;
   }
   
   /* Hover on Parent Container */
.content_img:hover{
    cursor: pointer;
   }
   
.content_img:hover div{
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7; 
   }
  
  /* Change color on hover */
.img a:hover {
    color: green;
  }

.side h1{
    background-color: white;
    font-size: 25pt;
}
.side .content{
    background-color: #6d0707;
    width: 100%;
    padding: 15px;
}
.side .content a{
    color: white;
    text-align: center;
    font-size: 16pt;
}
.side .content:hover{
    background-color: gray;
}
.side .content a:hover{
    color: green;
}


.footer{
    text-align: center;
    background-color: #6d0707;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 15pt;
}